{% load static %}
<!DOCTYPE html>
<html lang="en" style="color: white;">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        {% block meta %}
        {% endblock meta %}
    </head>

    <body style="background-color: grey;">
        <style>
            table, th, td {
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid white;
            border-collapse: collapse;
            }
            th, td {
                background-color: grey;
            }
        </style>
        {% block content %}
        {% endblock content %}
    </body>
</html>